@import url("./fonts.css");

/* STAR-WARS */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.container {
  max-width: 1440px;
  padding: 0px 5px;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
}

.header__inner {
  background-image: url("../images/Star-Wars-Battlefront-II-combat.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 206px;
  padding-bottom: 200px;
}

.header__about {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  max-width: 560px;

  margin-bottom: 134px;
}
.header__about div {
  color: #fff;
  font-family: "Helvetica Neue";
}

.header__about-inner {
  display: flex;
  flex-direction: column;
}

.header__about-title {
  font-size: 36px;
  line-height: 42px;
}

.header__about-part {
  font-size: 24px;
  line-height: 28px;
}

.header_btns {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  max-width: 840px;
}

.header_btn {
  border-radius: 4px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  border: none;
}

.watch {
  padding: 8px 24px 9px 19px;
  background: #8dd83d;
  border-radius: 4px;
}

.explore {
  padding: 8px 19px 9px;
  background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
  border-radius: 4px;
  margin-left: 13px;
}

/* Code for nav bar */
/* ____________________________________________________________ */
.container__menu {
  max-width: 1440px;
  height: 60px;
  padding: 0px 5px;
  margin: 0 auto;
  background: #373a3c;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu {
  max-width: 1440px;
  padding: 0px 5px;
  margin: 0 auto;
}

.bottom_line {
  max-width: 1440px;
  margin: 0 auto;
  height: 3px;
  background: #777777;
}

.menu__inner {
  display: flex;
  justify-content: space-between;
}

.logo {
}

.menu__inner-items a {
  font-family: "Helvetica Neue";
  font-size: 16px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);

  margin-right: 25px;
  padding-top: 10px;
}
.menu__inner-items a:hover {
  color: #fff;
}

.menu__inner-items input {
  font-family: "Helvetica Neue";
  font-size: 16px;
  line-height: 21px;
  color: #435766;

  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 25px;

  width: 209.8px;
  height: 38px;
}
.logo__inner {
  width: 96px;
  height: 29px;
}

input::placeholder {
  padding-top: 9px;
  padding-left: 16px;
}

.nav__img {
  margin-left: 8px;
}

/* ________14.08.2021 */

.container_best {
  background: radial-gradient(#686c6f, #373a3c);
  max-width: 1440px;
  padding: 0px 5px;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
}

.xlogo {
  display: block;
  margin: 0 auto;
  padding-top: 64px;
}

.text__value {
  padding-top: 16px;
  margin: 0 auto;
  text-align: center;
}

.thebest {
  margin: 0 auto;
}

.first {
  font-family: "Helvetica Neue";
  font-size: 48px;
  line-height: 56px;
  color: #fff;
}

.second {
  font-family: "Helvetica Neue";
  font-size: 36px;
  line-height: 42px;
  color: #fff;
}
.carsd {
  background: radial-gradient(#686c6f, #373a3c);
  max-width: 1440px;
  padding: 43px 5px 162px 5px;
  margin: 0 5px;
  display: flex;
  justify-content: space-around;
}
.cards1 {
  background: #ffffff;
  border: 1px solid #8dd83d;
  box-sizing: border-box;
  border-radius: 4px;
}
.cards2 {
  background: #ffffff;
  border: 1px solid #8dd83d;
  box-sizing: border-box;
  border-radius: 4px;
}
.cards3 {
  background: #ffffff;
  border: 1px solid #8dd83d;
  box-sizing: border-box;
  border-radius: 4px;
}

.tetxvelue {
  font-family: "Helvetica Neue";
  font-size: 18px;
  line-height: 21px;
  color: #435766;
  margin-left: 22px;
  margin-top: 16px;
}
.textvelue__1 {
  font-family: "Helvetica Neue";
  font-size: 24px;
  line-height: 28px;
  color: #435766;
  margin-left: 22px;
  margin-top: 13px;
  margin-bottom: 38px;
}

.btn1 {
  background: #8dd83d;
  border-radius: 4px;
  width: 278px;
  height: 60px;
  margin: 0 auto;
  font-family: "Helvetica Neue";
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  border: none;
  margin-bottom: 27px;
}

.textvelue2 {
  font-family: "Helvetica Neue";
  font-size: 18px;
  line-height: 21px;
  color: #435766;
  margin-left: 22px;
  margin-top: 16px;
}
.textvelue2__1 {
  font-family: "Helvetica Neue";
  font-size: 24px;
  line-height: 28px;
  color: #435766;
  margin-left: 22px;
  margin-top: 13px;
  margin-bottom: 38px;
}

.btn2 {
  background: #8dd83d;
  border-radius: 4px;
  width: 278px;
  height: 60px;
  margin: 0 auto;
  font-family: "Helvetica Neue";
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  border: none;
  margin-bottom: 27px;
}

.texvelue3 {
  font-family: "Helvetica Neue";
  font-size: 18px;
  line-height: 21px;
  color: #435766;
  margin-left: 22px;
  margin-top: 16px;
}
.texvelue3__1 {
  font-family: "Helvetica Neue";
  font-size: 24px;
  line-height: 28px;
  color: #435766;
  margin-left: 22px;
  margin-top: 13px;
  margin-bottom: 38px;
}

.btn3 {
  background: #8dd83d;
  border-radius: 4px;
  width: 278px;
  height: 60px;
  margin: 0 auto;
  font-family: "Helvetica Neue";
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  border: none;
  margin-bottom: 27px;
}

.container_warbay {
  background-image: url("../images/warbay.png");
  max-width: 1440px;
  margin: 0 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 880px;
}
.container_warbay2 {
  background: rgba(23, 23, 23, 0.5);
  max-width: 1440px;
  height: 880px;
  padding-top: 97px;
}

.gamesection {
  margin: 0 auto;
  height: 43px;
  width: 1200px;

  position: relative;
}

.texvel_game {
  font-family: "Helvetica Neue";
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  text-align: center;
}
.next {
  position: relative;
  top: -40px;
  left: 1150px;
}

.list-games {
  display: flex;
  margin-bottom: 74px;
  align-items: center;
  margin-left: 35px;
}
/* ================================================== */
.list-game1 {
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.9;
  border: 1px solid #8dd83d;
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: 66px;
  margin-right: 18px;
  margin-top: 54px;
  width: 320px;
  height: 420px;
}
/* подключать Hover ? */
/* .list-game1:hover {
  width: 352px;
  height: 462px; 
} */
/* ======================================================= */
.list-game1_text1 {
  font-family: "Helvetica Neue";
  font-size: 18px;
  line-height: 21px;
  color: #435766;
  margin-left: 21px;
  margin-top: 22px;
}
.list-game1_text2 {
  font-family: "Helvetica Neue";
  font-size: 21px;
  line-height: 25px;
  color: #435766;
  margin-left: 21px;
  margin-top: 16px;
}
.list-game1_btn {
  margin-left: 21px;
  margin-top: 43px;
  background: #8dd83d;
  border-radius: 4px;
  border: none;
  width: 268px;
  height: 60px;
  font-family: "Helvetica Neue";
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
/* ======================================= */
.list-game2 {
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.9;
  border: 1px solid #8dd83d;
  box-sizing: border-box;
  border-radius: 4px;

  margin-right: 18px;
  margin-top: 54px;
  width: 352px;
  height: 462px;
}

.list-game2_text1 {
  font-family: "Helvetica Neue";
  font-size: 18px;
  line-height: 21px;
  color: #435766;
  margin-left: 21px;
  margin-top: 25px;
}
.list-game2_btn {
  margin-left: 23px;
  margin-top: 121px;
  background: #8dd83d;
  border-radius: 4px;
  border: none;
  width: 306px;
  height: 66px;
  font-family: "Helvetica Neue";
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

/* ============================ */
.list-game3 {
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.9;
  border: 1px solid #8dd83d;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 30px;
  margin-top: 54px;
  width: 320px;
  height: 420px;
}
.list-game3_text1 {
  font-family: "Helvetica Neue";
  font-size: 18px;
  line-height: 21px;
  color: #435766;
  margin-left: 21px;
  margin-top: 22px;
}
.list-game3_btn {
  margin-left: 21px;
  margin-top: 109px;
  background: #8dd83d;
  border-radius: 4px;
  border: none;
  width: 268px;
  height: 60px;
  font-family: "Helvetica Neue";
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
/* ========================= */

.list-game4 {
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.9;
  border: 1px solid #8dd83d;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 54px;
  width: 320px;
  height: 420px;
}
.list-game4_text1 {
  font-family: "Helvetica Neue";
  font-size: 18px;
  line-height: 21px;
  color: #435766;
  margin-left: 21px;
  margin-top: 22px;
}
.list-game4_btn {
  margin-left: 21px;
  margin-top: 109px;
  background: #8dd83d;
  border-radius: 4px;
  border: none;
  width: 268px;
  height: 60px;
  font-family: "Helvetica Neue";
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

/* ==================================================== */

.xboxbotn {
  margin: 0 auto;
  text-align: center;
}
.btnxbox {
  background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
  border-radius: 4px;
  border: none;
  width: 207px;
  height: 53px;
  font-family: "Helvetica Neue";
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
}
/* ///////////////////////////////////////////////////////////////////Кнопку закончил */
.consoles_view {
  background-image: url("../images/consiles.png");
  max-width: 1440px;
  padding: 0px 5px;
  margin: 0 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 480px;
  padding-top: 114px;
}

.consoles__container {
  margin: 0 auto;
  height: 250px;
  width: 1100px;
}
.cons__text1 {
  font-family: "Helvetica Neue";
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
  padding-bottom: 9px;
}

.cons__text2 {
  font-family: "Helvetica Neue";
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  width: 533px;
  padding-bottom: 37px;
}

.cons_btns {
  display: flex;
}

.cons_btn1_ {
  width: 207px;
  height: 60px;
  background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
  border-radius: 4px;
  border: none;
  font-family: "Helvetica Neue";
  font-size: 16px;
  line-height: 21px;
  /* identical to box height, or 131% */
  text-align: center;

  color: #ffffff;
}

.cons_btn2_ {
  width: 278px;
  height: 60px;
  background: #8dd83d;
  border-radius: 4px;
  border: none;
  font-family: "Helvetica Neue";
  font-size: 16px;
  line-height: 21px;
  /* identical to box height, or 131% */
  text-align: center;

  color: #ffffff;
}

.cons_btn1 {
  margin-right: 15px;
}
/* ===================================Footer */
.footer {
  background: #373a3c;
  max-width: 1440px;
  padding: 0px 5px;
  margin: 0 5px;
  height: 395px;
  padding-top: 58px;
}

.container__footer {
  margin: 0 auto;
  height: 250px;
  width: 1100px;

  display: flex;
  justify-content: space-between;
}

.cont_f_1-1 {
  font-family: "Helvetica Neue";
  font-size: 18px;
  line-height: 21px;
  color: #7dd42f;
}

.cont_f_1-2 a {
  font-family: "Helvetica Neue";
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */
  color: #ffffff;
  margin-top: 34px;
}

.cont_f_1-3 a {
  font-family: "Helvetica Neue";
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */
  color: #ffffff;
  margin-top: 29px;
}

.cont_f_1-4 a {
  font-family: "Helvetica Neue";
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */
  color: #ffffff;
  margin-top: 28px;
}

.cont_f_1-5 a {
  font-family: "Helvetica Neue";
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */
  color: #ffffff;
  margin-top: 29px;
}
/* ___________________________________
 */

.cont_f_2_1 {
  font-family: "Helvetica Neue";
  font-size: 18px;
  line-height: 21px;
  color: #7dd42f;
}

.cont_f_2_2 a {
  font-family: "Helvetica Neue";
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */
  color: #ffffff;
  margin-top: 34px;
}

.cont_f_2_3 a {
  font-family: "Helvetica Neue";
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */
  color: #ffffff;
  margin-top: 29px;
}

.cont_f_2_4 a {
  font-family: "Helvetica Neue";
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */
  color: #ffffff;
  margin-top: 28px;
}

.cont_f_2_5 a {
  font-family: "Helvetica Neue";
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */
  color: #ffffff;
  margin-top: 29px;
}

/* _________________________________________________ */

.cont_f_3_1 {
  font-family: "Helvetica Neue";
  font-size: 18px;
  line-height: 21px;
  color: #7dd42f;
}

.cont_f_3_2 {
  margin-top: 29px;
  display: flex;
}
.cont_f_3_2_1 {
  margin-right: 20px;
}

.cont_f_3_2_2 {
  margin-right: 20px;
}
/* _________________________________________________ */

#line {
  width: 1200px;

  mix-blend-mode: normal;
  opacity: 0.35;
  border: 1px solid #ffffff;
  align-self: center;
}

.footer_bottom {
  width: 1200px;
  height: 60px;

  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 19px;
}

.fut_but_1 {
  font-family: "Helvetica Neue";
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #ffffff;
}

.fut_but_2 {
  font-family: "Helvetica Neue";
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #ffffff;
}

/* ================================= */

.container_best {
  margin: 0 auto;
}

.carsd {
  margin: 0 auto;
}

.container_warbay {
  margin: 0 auto;
}

.consoles_view {
  margin: 0 auto;
}

.footer {
  margin: 0 auto;
}
