.HW12082021{
  border: 2px solid green;
  background-color: darkslategray;
  
  
}

.HW12082021 a{
  color: rgb(72, 241, 30);
}

.github{
 
  width: 3%;
  
}
.kontrakt{
  padding-top: 50px;
}

div{
  text-align: center;
  font-size: 18px;
}

h1{
  text-align: center;
}