/* --------------------------
-----------------------------
5level*/
.bdt{
  background-color: #cccccc;
}

.sqr1-5{
  width: 400px;
  height: 50px;
  margin: 0px auto;

  margin-top: 150px;

  background-color: #ffff00;

  position: relative;

   z-index: 1; 
}



.sqr2-5{
  width: 400px;
  height: 50px;
  margin: 0px auto;

  background-color:#00ffff;
  position: relative;
  top: 200px;
  z-index: 4; 
}


.sqr3-5{
  width: 50px;
  height: 400px;
  margin: 0px auto;
  background-color:#a52a2a;
  position: relative;
  top: -150px;
  right: 100px;
  z-index: 3; 
}


.sqr4-5{
  width: 50px;
  height: 400px;
  margin: 0px auto;

  background-color: #483d8b;
  position: relative;
  top: -550px;
  left: 100px;
  z-index: 7; 
}

.sqr5-5{
  width: 100px;
  height: 50px;
  margin: 0px auto;

  margin-top: 150px;

  background-color: #ffff00;

  position: relative;
  top: -1050px;
  left: 100px;

   z-index: 8; 
}


