@font-face {
  font-family: "Google Sans";
  src: url("../fonts/GoogleSans-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
}

.site-content__top {
  max-width: 100%;
  height: 36px;
  background-color: #f2f2f2;
  margin: 0 auto;
}

.site-content__top-text {
  max-width: 1100px;
  height: 36px;
  border: 1px solid red;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-content__top-text__feedback {
  border: 1px solid red;
  padding-right: 37px;
}

.site-content__top-text__feedback a {
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #4f4f4f;
  font-family: "Google Sans";
}

.site-content__top-text__input {
  border: 1px solid red;
}

.site-content__top-text__input a {
  font-size: 14px;
  line-height: 16px;
  color: #4f4f4f;
  font-family: "Google Sans";
}

.site-content__nav {
  max-width: 100%;
  height: 83px;
  border: 1px solid #e8e8ee;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-content__nav__container {
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  border: 1px solid red;
}

.site-content__nav__container-burger {
  color: #333333;
  font-size: 20px;
}

.site-content__nav__container-btn button {
  background: linear-gradient(245.23deg, #32228a -43.18%, #745acd 100%), #c4c4c4;
  border-radius: 3px;
  width: 218px;
  height: 44px;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  font-family: "Google Sans";
}

.site-content__menu {
  width: 1100px;
  margin: 0 auto;
  height: 221px;
  border-bottom: 1px solid #e8e8ee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-content__menu-bar1 {
  width: 356px;
  height: 168px;
  background: -webkit-gradient(linear, left top, right top, from(#ff9191), color-stop(100.03%, #ff7878));
  background: linear-gradient(90deg, #ff9191 0%, #ff7878 100.03%);
  border-radius: 5px;
  background-image: url(../image/image.png);
  background-position: right;
  background-repeat: no-repeat;
  border: 1px solid red;
}

.site-content__menu-bar2 {
  width: 356px;
  height: 168px;
  background: -webkit-gradient(linear, left top, right top, from(#ff9191), color-stop(100.03%, #ff7878));
  background: linear-gradient(90deg, #ff9191 0%, #ff7878 100.03%);
  border-radius: 5px;
  background-image: url(../image/image1.png);
  background-position: right;
  background-repeat: no-repeat;
  border: 1px solid red;
}

.site-content__menu-bar3 {
  width: 356px;
  height: 168px;
  background: -webkit-gradient(linear, left top, right top, from(#ff9191), color-stop(100.03%, #ff7878));
  background: linear-gradient(90deg, #ff9191 0%, #ff7878 100.03%);
  border-radius: 5px;
  background-image: url(../image/image.png);
  background-position: right;
  background-repeat: no-repeat;
  border: 1px solid red;
}
/*# sourceMappingURL=main.css.map */