$centr: 0 auto;
$ttext: #4f4f4f;
$contsize: 1100px;

@font-face {
  font-family: "Google Sans";
  src: url("../fonts/GoogleSans-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

* {
  box-sizing: border-box;
}
.container {
  margin: $centr;
}

.site-content__top {
  max-width: 100%;
  height: 36px;
  background-color: #f2f2f2;
  margin: $centr;
  &-text {
    max-width: $contsize;
    height: 36px;
    border: 1px solid red;
    margin: $centr;
    display: flex;
    justify-content: end;
    align-items: center;

    &__feedback {
      border: 1px solid red;
      padding-right: 37px;
      a {
        text-decoration: none;
        font-size: 14px;
        line-height: 16px;
        color: $ttext;
        font-family: "Google Sans";
      }
    }
    &__input {
      border: 1px solid red;
      a {
        font-size: 14px;
        line-height: 16px;
        color: $ttext;
        font-family: "Google Sans";
      }
    }
  }
}
.site-content__nav {
  max-width: 100%;
  height: 36px;
  border: 1px solid #e8e8ee;
}
