@import url("./fonts.css");

/* STAR-WARS */
*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  display: inline-block;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.container{
  max-width: 1440px;
  padding: 0px 5px;
  margin: 0 auto;
}

.header{
  margin: 0 auto;
}

.header__inner{
  background-image: url("../images/Star-Wars-Battlefront-II-combat.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 206px;
  padding-bottom: 200px;
}

.header__about{
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  max-width: 560px;
  
  margin-bottom: 134px;
}
.header__about div {
  color: #fff;
  font-family: "Helvetica Neue" ;
  }

.header__about-inner{
  display: flex;
  flex-direction: column;
}

.header__about-title{
  font-size: 36px;
  line-height: 42px;
}

.header__about-part{
  font-size: 24px;
  line-height: 28px;
}

.header_btns{
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  max-width: 840px;
  
}

.header_btn{
  border-radius: 4px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  border: none;
}

.watch {
  padding: 8px 24px 9px 19px;
  background: #8DD83D;
  border-radius: 4px;
}

.explore{
  padding: 8px 19px 9px;
  background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
  border-radius: 4px;
  margin-left: 13px;
}

/* Code for nav bar */
/* ____________________________________________________________ */
.container__menu{
  max-width: 1440px;
  height: 60px;
  padding: 0px 5px;
  margin: 0 auto;
  background: #373A3C;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu{
  max-width: 1440px;
  padding: 0px 5px;
  margin: 0 auto;
}

.bottom_line{
  max-width: 1440px;
  margin: 0 auto;
  height: 3px;
  background: #777777;
}

.menu__inner{
  display: flex;
  justify-content: space-between;
}

.logo{
  
}

.menu__inner-items a{
  font-family: "Helvetica Neue" ;
  font-size: 16px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);

  margin-right: 25px;
  padding-top: 10px;
}
.menu__inner-items a:hover{
  color: #fff;
}

.menu__inner-items input{
  font-family: "Helvetica Neue" ;
  font-size: 16px;
  line-height: 21px;
  color: #435766;
  
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 25px;

  width: 209.8px;
  height: 38px;

}
.logo__inner{
  width: 96px;
  height: 29px;
}